# Ignore specific data files
data_start.csv
poi_counts_df_250.csv
poi_counts_df.csv
fahrtenverteilung.pdf
prozentuale_fahrtenverteilung.pdf
choropleth_map.html


# Ignore everything in the cache directory
cache/
ride_duration.pdf
hourly_rides.pdf
daily_rides.pdf
weekly_cluster_rides_distribution.pdf
